* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-sans);
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: var(--text-primary);
    background-color: var(--bg-secondary);
}

button {
    cursor: pointer;
}