global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Trong Swarm, dùng dns_sd_configs để tìm tự động tất cả các node
  - job_name: "node_exporter"
    dns_sd_configs:
      - names:
          - "tasks.app_stack_node_exporter"
        type: "A"
        port: 9100

  - job_name: "api_service"
    dns_sd_configs:
      - names:
          - "tasks.app_stack_api"
        type: "A"
        port: 5000